@font-face {
    font-family: ThunderMan;
    src: url('./fonts/Thunderman.ttf');
}

* {
    font-family: ThunderMan, sans-serif;
}
body {
    height: 100vh;
    width:100vw;  
}

#root {
    height: 100%;
    width: 100%;
}

#whole-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ece43f;
}

a {
    text-decoration: none;
}

a:visited {
    color: #312a2a;
}

nav {
    height: 20%;
    width: 100%;
    background-color: #dbd20b;
    color: #312a2a;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
}

#app-container, #products-container, #prev-rendered-and-shopping-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

#app-container {
    color: #312a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-container, .image-container {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
}

#shopping-icon-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

li button {
    background-color:#dbd20b;
    border: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#products-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

#grid-container {
    margin-bottom: 50px;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.grid-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    border: #f0f0f0 1px solid;
}

.grid-cell-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.grid-cell-bottom h2, .grid-cell-bottom h3 {
    margin: 0;
}

.description-container {
    width: 100%;
    text-align: center;
    background-color: #312a2a;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.price-container {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    color: #312a2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.image-container.small {
}

#products-container button {
    width: 75%;
}

#shopping-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    height: 100%;
    background-color: white;
}